.App {
  text-align: center;
  display: flex;
}

.nav-btn{
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}

.nav-btn:hover{
  background-color: #ffee51;

}

a{
  text-decoration: none;
  color: black;
}

.nav-btn > :active{
background-color: #ffee51;
}